@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet'); }

.App {
  margin: 50px; }

.App-title {
  font-size: 1.5em;
  margin-bottom: 50px; }

.App-intro {
  font-size: large; }

.box {
  height: 250px;
  border: 1px solid black;
  background-color: white;
  width: 50%;
  display: inline-block;
  text-align: center;
  padding-top: 50px;
  font-family: 'Montserrat'; }
  .box.details {
    background-color: #dda39f;
    border: 1px solid #dda39f; }
  .box.who {
    background-color: #82dce3;
    border: 1px solid #82dce3; }
  .box.when {
    background-color: #dda39f;
    border: 1px solid #dda39f; }
  .box.where {
    background-color: #dda39f;
    border: 1px solid #dda39f; }

.title {
  font-size: 50px; }

.box {
  height: 250px;
  border: 1px solid black;
  background-color: white;
  width: 50%;
  display: inline-block;
  text-align: center;
  padding-top: 50px;
  font-family: 'Montserrat'; }
  .box.clicked {
    background-color: #dda39f;
    border: 1px solid #dda39f; }

.title {
  font-size: 50px; }
