@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet')
}

.App {
  margin: 50px;
}

.App-title {
  font-size: 1.5em;
  margin-bottom: 50px;
}

.App-intro {
  font-size: large;
}
